<!DOCTYPE html>
<html>

<head>
  <style>
    .custom-navbar {
      background-color: #6666ff;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light custom-navbar">
    <a class="navbar-brand text-light" href="#">LIFE EXTENSION</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        {% if user == None %}
        <li class="nav-item active">
          <a class="nav-link text-light" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        {% else %}
        <li class="nav-item active">
          <a class="nav-link text-light" href="{% url 'dashboard' user=user %}">Home <span
              class="sr-only">(current)</span></a>
        </li>
        {% endif %}
        {% if not status %}
        <li class="nav-item active">
          <a class="nav-link text-light" href="/register">Register <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-light" href="/login">Login <span class="sr-only">(current)</span></a>
        </li>
        {% endif %}
        {% if status and user == "P" %}
        <li class="nav-item active">
          <a class="nav-link text-light" href="{% url 'myappointment' %}">Your Appointments <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-light" href="{% url 'profile' user=user %}">Profile <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-light" href="{% url 'room_reservation'  %}">Rooms <span
              class="sr-only">(current)</span></a>
        </li>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-light" href="{% url 'feedback'  %}">Feedback <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-light" href="{% url 'room_reservation'  %}">Room reservation <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-light" href="/logout">Logout <span class="sr-only">(current)</span></a>
        </li>
        {% endif %}
        {% if status and user == "D" %}
        <li class="nav-item active">
          <a class="nav-link text-light" href="{% url 'docter_appointment'  %}"> Appointments <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-light" href="{% url 'docter_prescription'  %}">Prescriptions <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-light" href="{% url 'reserved_rooms'  %}">Room reservation <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-light" href="{% url 'profile' user=user %}">Profile <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-light" href="/logout">Logout <span class="sr-only">(current)</span></a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
</body>

</html>