# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
.env

# Django-related files
*.log

# Visual Studio Code settings
.vscode/

# PyCharm settings
.idea/

# Compiled Python files
*.pyc

# macOS
.DS_Store

# Windows
Thumbs.db
